
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: community-labeller

on:
  issues:
    types:
      - opened
  pull_request_target:
    types:
      - opened

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: puppetlabs/community-labeller@v0
        name: Label issue or pull request
        with:
          label_name: community
          label_color: '5319e7'
          org_membership: puppetlabs
          token: ${{ secrets.CUSTOM_TOKEN }}
